*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.content{
    background: url(https://img.freepik.com/free-photo/travel-concept-with-landmarks_23-2149153256.jpg?w=1060&t=st=1702752157~exp=1702752757~hmac=9721fb360b81be5313ddd0625114f064063afe978222998311ae332ec8cd90b0) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;  
/*    background-attachment: fixed;*/
}
.navbar{
    background: transparent;
    padding: 2rem 0;
}
.navbar-brand{
    color: black;
    font-weight: 666;
}
.navbar-brand:hover{
    color: black;
    
}
.featured button{
    background: white;
}
.icon-bar{
    background: black;
}
.nav li a{
    color: white;
    font-size: 1.5rem;
}
.nav li a:hover{
    color: black;
    border-radius: 5px;
}
.intro-text{
    color: black;
    margin-top: 10rem;
}
.intro-text h2{
    font-weight: 777;
    padding: 1rem;
}
.intro-text .btn{
    color: black;
   margin: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
    
}
.btn-default{
    width: 150px;
    box-shadow: 0 10px .5rem rgba(0,0,0,0.5);
}
/*about section styling*/
.about{
    padding: 10rem 2rem;
}

.about-styling h2{
    margin: 3rem 0;
}
.about-styling p{
    line-height: 3rem;
    font-size: 14px;
}
.about-text{
    padding: 2rem 0;
}
.nav-pills li a{
    color: black;
}
.about-styling h1{
    margin: 5rem 0;
}
.tab-pane button{
    margin: 2rem 0;
}

/*testimonials*/

.testimonial-styling{
    padding: 10rem 2rem;
    font-size: 14px;
}
.testimonial-styling h3{
    margin: 2rem 0;
}
.testimonial-styling p{
    line-height: 4rem;
}
.testimonial-styling h1{
    margin-bottom: 5rem;
}

.carousel-inner{
    margin-top: 5rem;
}

.testimonial-styling .carousel-inner img{
    width: 140x;
    height: 140px;
    border-radius: 50%;  
}

.item{
    padding: 3rem;
    color: white;
}
/*
.item .row{
    text-align: center;
}
*/
/*hotels*/
.hotels{
    padding: 10rem 2rem;
}
.hotels img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 0;
}
.hotels h1{
    margin-bottom: 5rem;
}
.hotel-card{
    padding: 2rem;
    margin-bottom: 3rem;
    background: white;
    box-shadow: 5px 10px .5rem rgba(0,0,0,0.5);
    transition: all .5s;
/*    border: 5px solid black;*/
}
.hotels p{
    line-height: 3rem;
}
.hotel-card:hover{
    transform: translateY(-25px);
}


/*contact styling*/
.contact img{
    width: 100%;
    height: auto;
}
.contact-styling{
    margin-top: 4rem;
     padding: 0 2rem;
}
.contact-styling .btn{
    margin: 3rem 0;
    padding: 1.5rem;
}
.contact-styling textarea{
    resize: none;
}
.form input::placeholder{
    color: black;
}

/*footer styling*/
.footer{
    background: #222831;
    color: #6c757f;
    margin-top: 10rem;
    padding: 5rem 0;
    font-size: 15px;
}
.footer h3{
    color: white;
    margin-bottom: 2rem;
}
.footer ul{
    list-style: none;
}
.footer ul li a{
    color: #6c757f;
    text-decoration: none;
    
}
.footer ul li a:hover{
    color: white;
}
.footer ul li{
    margin: 2rem 0;
}

/*media queries*/

@media (max-width:578px)
{
    .jumbotron{
        padding: 0 40px;
        
    }
    
    .intro-text h1{
        font-size: 3rem;
    }
    
    .carousel-inner img{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
    }
    .carousel-inner p{
        font-size: 1rem;
          text-align: center;
    }
    .about-styling{
        text-align: center;
    }
    
}
@media (max-width:995px)
{
    .carousel-inner img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    }
      .carousel-inner p{
        font-size: 1rem;
          text-align: center;
    }
  
}
@media (max-width:1181px)
{
    .carousel-inner img{
    width: 130px;
    height: 90px;
    border-radius: 50%;
    
    }
      .carousel-inner p{
        font-size: 1.5rem;
          text-align: center;
    }
  
}